<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Bhuikhel Football Club</h3>
            <p>
              Ward -15 <br>
              Kathmandu<br>
              Nepal <br><br>
              <strong>Phone:</strong> +977 9818299849<br>
              <strong>Email:</strong> bhuikhelfootballclub@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Please follow our social media to support us and get updates</p>
            <div class="social-links mt-3">
              
              <a href="https://www.facebook.com/Bhuikhelfootballclub" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/bhuikhelfootballclub/" class="instagram"><i class="bx bxl-instagram"></i></a>
              
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Bhuikhel Football Club</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->
  <!-- Vendor JS Files -->
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>